<p><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <span translate="Em caso de dúvidas entre em contato com <u><a href='mailto:{{email}}'>conosco</a></u> pelo telefone {{telefone}}"  translate-value-email="{{grupo.email}}"></span>.</p>
<div class="language-select text-center" ng-controller="LanguageselectCtrl">

    <ul class="list-inline">
        <li ng-repeat="(key, value) in localesNamesWithKeys">
            <small>
                <a href="" ng-click="changeLanguage(key)">
                    <span></span> {{value}}</a>
            </small>
        </li>
    </ul>

    <br>

</div>