<h2>Perfil</h2>

<form name="userForm" ng-submit="submitForm(userForm.$valid, usuario, acompanhante)">
    <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->

    <p translate>{{usuario.Nome}} seja bem-vindo(a)!</p>
    <p translate>Para que possamos garantir o melhor serviço, pedimos que preencha os dados abaixo até {{grupo.deadlineInscricao}}.</p>
<!--   -->
    <fieldset ng-disabled="(usuario.Status === '1') || (usuario.Status === 1) || (usuario.Status === '-4') || (usuario.Status === -4)">

        <h3>
            <span translate>Titular</span>
        </h3>

        <div class="form-group" ng-class="{'has-error': userForm.nome.$invalid}">
            <label class="" for="nome">
                <span translate>Nome completo (conforme documento de embarque)</span> *</label>
            <input type="text" name="nome" id="nome" class="form-control" ng-model="usuario.Nome" data-ng-maxlength="100" required>
            <span class="material-icons form-control-feedback">clear</span>
        </div>

        <div class="form-group" ng-class="{'has-error': userForm.sobrenome.$invalid}" ng-if="currentLocaleDisplayName === 'es-ES'">
            <label class="" for="sobrenome">Appelido (según en el pasaporte) *</label>
            <input type="text" name="sobrenome" id="sobrenome" class="form-control" ng-model="usuario.Sobrenome" data-ng-maxlength="100" required>
            <span class="material-icons form-control-feedback">clear</span>
        </div>

        <div class="form-group " ng-class="{'has-error': userForm.Cargo.$invalid}">
            <label class="" for="Cargo">
                <span translate>Cargo</span> *</label>
            <input type="text" name="Cargo" id="Cargo" class="form-control" ng-model="usuario.Cargo" required>
            <span class="material-icons form-control-feedback">clear</span>
        </div>
        <div class="form-group " ng-class="{'has-error': userForm.Empresa.$invalid}">
            <label class="" for="Empresa">
                <span translate>Empresa</span> *</label>
            <input type="text" name="Empresa" id="Empresa" class="form-control" ng-model="usuario.Empresa" required>
            <span class="material-icons form-control-feedback">clear</span>
        </div>

        <div class="form-group" ng-class="{'has-error': userForm.Sexo.$invalid}">
            <label for="">
                <span translate>Sexo</span> *</label>
            <div class="radio">
                <label>
                    <input type="radio" name="Sexo" ng-model="usuario.Sexo" value="M"  required>{{'Masculino' | translate}}</label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="Sexo" ng-model="usuario.Sexo" value="F"  required>{{'Feminino' | translate}}</label>
            </div>
            <span class="material-icons form-control-feedback">clear</span>
        </div>

        <div class="form-group " ng-class="{'has-error': userForm.EmailCopia.$invalid}">
            <label class="" for="EmailCopia">
                <span translate>Email secundário</span> *</label>
            <input type="email" name="EmailCopia" id="EmailCopia" class="form-control" ng-model="usuario.EmailCopia" required>
            <span class="material-icons form-control-feedback">clear</span>
        </div>

        <div class="form-group " ng-class="{'has-error': userForm.CidadeEmbarque.$invalid}">
            <label class="" for="CidadeEmbarque">
                <span translate>Cidade de embarque</span> *</label>
            <input type="text" name="CidadeEmbarque" id="CidadeEmbarque" class="form-control" ng-model="usuario.CidadeEmbarque" required>
            <span class="material-icons form-control-feedback">clear</span>
        </div>

        <div class="form-group " ng-class="{'has-error': userForm.Telefone.$invalid}">
            <label class="" for="Telefone">
                <span translate>Telefone</span> *</label>
            <input type="tel" name="Telefone" id="Telefone" class="form-control" ng-model="usuario.Telefone" maxlength="20" mask="+9?9?9?9?9?9?9?9?9?9?99999999" restrict="reject" required>
            <span class="material-icons form-control-feedback">clear</span>
        </div>
        <div class="form-group " ng-class="{'has-error': userForm.Celular.$invalid}">
            <label class="" for="Celular">
                <span translate>Celular</span>
            </label>
            <input type="tel" name="Celular" id="Celular" class="form-control" ng-model="usuario.Celular" mask="+9?9?9?9?9?9?9?9?9?9?99999999" restrict="reject" required>
            <span class="material-icons form-control-feedback">clear</span>
        </div>

        <div class="form-group " ng-class="{'has-error': userForm.Endereco.Logradouro.$invalid}">
            <label class="" for="Endereco.Logradouro">
                <span translate>Rua</span> *</label>
            <input type="text" name="Endereco.Logradouro" id="Endereco.Logradouro" class="form-control" ng-model="usuario.Endereco.Logradouro" required>
            <span class="material-icons form-control-feedback">clear</span>
        </div>


        <div class="form-group " ng-class="{'has-error': userForm.Endereco.Numero.$invalid}">
            <label class="" for="Endereco.Numero">
                <span translate>Número</span> *</label>
            <input type="text" name="Endereco.Numero" id="Endereco.Numero" class="form-control" ng-model="usuario.Endereco.Numero" required>
            <span class="material-icons form-control-feedback">clear</span>
        </div>

        <div class="form-group " ng-class="{'has-error': userForm.EnderecoComplemento.$invalid}">
            <label class="" for="EnderecoComplemento">
                <span translate>Complemento</span> *</label>
            <input type="text" name="EnderecoComplemento" id="EnderecoComplemento" class="form-control" ng-model="usuario.Endereco.Complemento">
            <span class="material-icons form-control-feedback">clear</span>
        </div>

        <div class="form-group " ng-class="{'has-error': userForm.EnderecoBairro.$invalid}">
            <label class="" for="EnderecoBairro">
                <span translate>Bairro</span> *</label>
            <input type="text" name="EnderecoBairro" id="EnderecoBairro" class="form-control" ng-model="usuario.Endereco.Bairro" required>
            <span class="material-icons form-control-feedback">clear</span>
        </div>

        <div class="form-group " ng-class="{'has-error': userForm.EnderecoCidade.$invalid}">
            <label class="" for="EnderecoCidade">
                <span translate>Cidade</span> *</label>
            <input type="text" name="EnderecoCidade" id="EnderecoCidade" class="form-control" ng-model="usuario.Endereco.Cidade" required>
            <span class="material-icons form-control-feedback">clear</span>
        </div>

        <div class="form-group " ng-class="{'has-error': userForm.EnderecoUf.$invalid}" ng-if="currentLocaleDisplayName !== 'pt-BR'">
            <label class="" for="EnderecoUf">
                <span translate>Estado</span> *</label>
            <input type="text" name="EnderecoUf" id="EnderecoUf" class="form-control" ng-model="usuario.Endereco.Uf" required>
            <span class="material-icons form-control-feedback">clear</span>
        </div>

        <div class="form-group" ng-class="{'has-error': userForm.EnderecoUf.$invalid}" ng-if="currentLocaleDisplayName === 'pt-BR'">
            <label for="EnderecoUf">
                <span translate>Estado</span> *</label>
            <select class="form-control" name="EnderecoUf" id="EnderecoUf" ng-model="usuario.Endereco.Uf" ng-options="estado.valor as estado.texto for estado in estados" required>
            </select>
            <span class="material-icons form-control-feedback">clear</span>
        </div>

        <div class="form-group " ng-class="{'has-error': userForm.EnderecoPais.$invalid}">
            <label class="" for="EnderecoPais">
                <span translate>País</span> *</label>
            <input type="text" name="EnderecoPais" id="EnderecoPais" class="form-control" ng-model="usuario.Endereco.Pais" required>
            <span class="material-icons form-control-feedback">clear</span>
        </div>

        <div class="form-group " ng-class="{'has-error': userForm.Enderecotipo.$invalid}">
            <label class="" for="Enderecotipo">
                <span translate>Tipo de endereço</span> *</label>
            <div class="radio">
                <label>
                    <input type="radio" name="Enderecotipo" ng-model="usuario.Endereco.tipo" ng-value="0" required> {{'Comercial' | translate}}</label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="Enderecotipo" ng-model="usuario.Endereco.tipo" ng-value="1" required> {{'Residencial' | translate}}</label>

            </div>
            <span class="material-icons form-control-feedback">clear</span>
        </div>

        <div class="form-group " ng-class="{'has-error': userForm.Cpf.$invalid}" ng-if="currentLocaleDisplayName === 'pt-BR'">
            <label class="" for="Cpf">
                <span translate>CPF</span> *</label>
            <input type="text" name="Cpf" id="Cpf" class="form-control" ng-model="usuario.Cpf" max="11" required>
            <span class="material-icons form-control-feedback">clear</span>
        </div>

        <div class="form-group " ng-class="{'has-error': userForm.RgNumero.$invalid}" ng-if="currentLocaleDisplayName === 'pt-BR'">
            <label class="" for="RgNumero">
                <span translate>RG</span> *</label>
            <input type="text" name="RgNumero" id="RgNumero" class="form-control" ng-model="usuario.Rg.Numero" max="15" required>
            <span class="material-icons form-control-feedback">clear</span>
        </div>

        <div class="form-group" ng-class="{'has-error': userForm.RgEmissao.$invalid}" ng-if="currentLocaleDisplayName === 'pt-BR'">
            <label for="RgEmissao">
                <span translate>Data de expedição do RG</span> *</label>
            <input type="text" name="RgEmissao" id="RgEmissao" placeholder="dd/mm/aaaa" class="form-control" ng-model="usuario.Rg.Emissao" mask='39/19/9999' required>
            <span class="material-icons form-control-feedback">clear</span>
        </div>

        <div class="form-group " ng-class="{'has-error': userForm.RgEmissor.$invalid}" ng-if="currentLocaleDisplayName === 'pt-BR'">
            <label class="" for="RgEmissor">
                <span translate>Órgão emissor</span> *</label>
            <input type="text" name="RgEmissor" id="RgEmissor" class="form-control" ng-model="usuario.Rg.Emissor" max="20" required>
            <span class="material-icons form-control-feedback">clear</span>
        </div>

        <div class="form-group " ng-class="{'has-error': userForm.PassaporteNumero.$invalid}">
            <label class="" for="PassaporteNumero">
                <span translate>Passaporte</span> *</label>
            <input type="text" name="PassaporteNumero" id="PassaporteNumero" class="form-control" ng-model="usuario.Passaporte.Numero" required>
            <span class="material-icons form-control-feedback">clear</span>
        </div>

        <div class="form-group" ng-class="{'has-error': userForm.PassaporteEmissao.$invalid}">
            <label for="PassaporteEmissao">
                <span translate>Emissão do passaporte</span> *</label>
            <input type="text" name="PassaporteEmissao" id="PassaporteEmissao" placeholder="dd/mm/aaaa" class="form-control" ng-model="usuario.Passaporte.Emissao" mask='39/19/9999' required>
            <span class="material-icons form-control-feedback">clear</span>
        </div>

        <div class="form-group" ng-class="{'has-error': userForm.PassaporteValidade.$invalid}">
            <label for="PassaporteValidade">
                <span translate>Validade do passaporte</span> *</label>
            <input type="text" name="PassaporteValidade" id="PassaporteValidade" placeholder="dd/mm/aaaa" class="form-control" ng-model="usuario.Passaporte.Validade"
                mask='39/19/9999' required>
            <span class="material-icons form-control-feedback">clear</span>
        </div>

        <div class="form-group" ng-class="{'has-error': userForm.Nascimento.$invalid}">
            <label for="Nascimento">
                <span translate>Data de nascimento</span> *</label>
            <input type="text" name="Nascimento" placeholder="dd/mm/aaaa" class="form-control" ng-model="usuario.Nascimento" mask='39/19/9999' required>
            <span class="material-icons form-control-feedback">clear</span>
        </div>

        <div class="form-group" ng-class="{'has-error': userForm.NacionalidadePais.$invalid}">
            <label for="NacionalidadePais">
                <span translate>Nacionalidade</span> *</label>
            <input type="text" name="NacionalidadePais" id="NacionalidadePais" class="form-control" ng-model="usuario.Nacionalidade.Pais" maxlength="50" required>
            <span class="material-icons form-control-feedback">clear</span>
        </div>

        <div class="form-group " ng-class="{'has-error': userForm.NacionalidadeCidade.$invalid}">
            <label class="" for="NacionalidadeCidade">
                <span translate>Cidade de nascimento</span> *</label>
            <input type="text" name="NacionalidadeCidade" id="NacionalidadeCidade" class="form-control" ng-model="usuario.Nacionalidade.Cidade"
                required>
            <span class="material-icons form-control-feedback">clear</span>
        </div>

        <div class="form-group" ng-class="{'has-error': userForm.AcompNacionalidadeEstadoCivil.$invalid}">
            <label for="AcompNacionalidadeEstadoCivil">
                <span translate>Estado civil</span> *</label>
            <input type="text" name="AcompNacionalidadeEstadoCivil" id="AcompNacionalidadeEstadoCivil" class="form-control" ng-model="usuario.Nacionalidade.EstadoCivil" maxlength="50" required>
            
            <span class="material-icons form-control-feedback">clear</span>
        </div>

        <div class="form-group" ng-class="{'has-error': userForm.Fumante.$invalid}">
            <label for="Fumante">
                <span translate>Fumante</span>? *</label>
            <select class="form-control" id="Fumante" ng-model="usuario.Fumante" required>
                <option ng-value="false">
                    <span translate>Não</span>
                </option>
                <option ng-value="true">
                    <span translate>Sim</span>
                </option>
            </select>
            <span class="material-icons form-control-feedback">clear</span>
        </div>

        <div class="form-group" ng-class="{'has-error': userForm.Pne.$invalid}">
            <label for="Pne">
                <span translate>Portador de necessidades especiais</span>? *</label>
            <select class="form-control" id="Pne" ng-model="usuario.Pne" required>
                <option ng-value="false">
                    <span translate>Não</span>
                </option>
                <option ng-value="true">
                    <span translate>Sim</span>
                </option>
            </select>
            <span class="material-icons form-control-feedback">clear</span>
        </div>

        <div class="form-group " ng-class="{'has-error': userForm.Alergias.$invalid}">
            <label class="" for="Alergias">
                <span translate>Alergias</span> *</label>
            <input type="text" name="Alergias" id="Alergias" class="form-control" ng-model="usuario.Alergias" required>
            <span class="material-icons form-control-feedback">clear</span>
        </div>

        <div class="form-group " ng-class="{'has-error': userForm.RestricoesAlimentares.$invalid}">
            <label class="" for="RestricoesAlimentares">
                <span translate>Restrições alimentares</span> *</label>
            <input type="text" name="RestricoesAlimentares" id="RestricoesAlimentares" class="form-control" ng-model="usuario.RestricoesAlimentares" required>
            <span class="material-icons form-control-feedback">clear</span>
        </div>

        <div class="form-group ">
            <label class="" for="InformacoesMedicas">
                <span translate>Informações médicas (em caso de gravidez indique aqui)</span>
            </label>
            <input type="text" name="InformacoesMedicas" id="InformacoesMedicas" class="form-control" ng-model="usuario.InformacoesMedicas" >
            <span class="material-icons form-control-feedback">clear</span>
        </div>

        <div class="form-group" ng-class="{'has-error': userForm.ContatoEmergenciaNome.$invalid}">
            <label for="ContatoEmergenciaNome">
                <span translate>Nome do contato de emergência</span>
            </label>
            <input type="text" name="ContatoEmergenciaNome" id="ContatoEmergenciaNome" class="form-control" ng-model="usuario.ContatoEmergencia.Nome" maxlength="50" required>
            <span class="material-icons form-control-feedback">clear</span>
        </div>

        <div class="form-group" ng-class="{'has-error': userForm.ContatoEmergenciaTelefone.$invalid}">
            <label for="ContatoEmergenciaTelefone" >
                <span translate>Telefone do contato de emergência</span>
            </label>
            <input type="tel" name="ContatoEmergenciaTelefone" id="ContatoEmergenciaTelefone" class="form-control" ng-model="usuario.ContatoEmergencia.Telefone" maxlength="20"  mask="+9?9?9?9?9?9?9?9?9?9?99999999" restrict="reject" required>
            <span class="material-icons form-control-feedback">clear</span>
        </div>

        <div class="form-group" ng-class="{'has-error': userForm.ContatoEmergencia.$invalid}">
            <label for="ContatoEmergencia">
                <span translate>Celular do contato de emergência</span>
            </label>
            <input type="tel" name="ContatoEmergencia" id="ContatoEmergencia" class="form-control" ng-model="usuario.ContatoEmergencia.Celular" maxlength="20" mask="+9?9?9?9?9?9?9?9?9?9?99999999" restrict="reject" required>
            <span class="material-icons form-control-feedback">clear</span>
        </div>


        <h3>
            <span translate>Acompanhante</span>
            <span></span>
            <div class="togglebutton">

                <label>
                    <span translate>Irá levar acompanhante</span>?
                    <input type="checkbox" checked="" ng-model="teraAcompanhante">
                </label>
            </div>
        </h3>

        <div ng-if="teraAcompanhante">

            <div class="form-group" ng-class="{'has-error': userForm.camas.$invalid}">
                <label for="camas">
                    <span translate>Hospedagem: quarto com 1 cama ou 2 camas</span>? *</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="camas" ng-model="usuario.PerfilViajante" value="1 cama" required>{{'1 cama' | translate}}</label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="camas" ng-model="usuario.PerfilViajante" value="2 camas" required>{{'2 camas' | translate}}</label>
                </div>
                <span class="material-icons form-control-feedback">clear</span>
            </div>

            <div class="form-group" ng-class="{'has-error': userForm.acompanhanteGrauParentesco.$invalid}">
                <label class="" for="acompanhanteGrauParentesco">
                    <span translate>Grau de parentesco com o titular</span> *</label>
                <input type="text" name="acompanhanteGrauParentesco" id="acompanhanteGrauParentesco" class="form-control" ng-model="acompanhante.GrauParentesco" data-ng-maxlength="100" required>
                <span class="material-icons form-control-feedback">clear</span>
            </div>


            <div class="form-group" ng-class="{'has-error': userForm.acompanhantenome.$invalid}">
                <label class="" for="acompanhantenome">
                    <span translate>Nome completo (conforme documento de embarque)</span> *</label>
                <input type="text" id="acompanhantenome" name="acompanhantenome" class="form-control" ng-model="acompanhante.Nome" data-ng-maxlength="50" required>
                <span class="material-icons form-control-feedback">clear</span>
            </div>

            <div class="form-group" ng-if="currentLocaleDisplayName === 'es-ES'" ng-class="{'has-error': userForm.acompanhanteSobrenome.$invalid}" >
                <label class="" for="acompanhanteSobrenome">Appelido (según en el pasaporte) *</label>
                <input type="text" name="acompanhanteSobrenome" id="acompanhanteSobrenome" class="form-control" ng-model="acompanhante.Sobrenome" data-ng-maxlength="100"  restrict="reject" required>
                <span class="material-icons form-control-feedback">clear</span>
            </div>

            <div class="form-group" ng-class="{'has-error': userForm.acompanhanteSexo.$invalid}">
                <label for="acompanhanteSexo">
                    <span translate>Sexo</span> *</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="acompanhanteSexo" ng-model="acompanhante.Sexo" value="M" required>{{'Masculino' | translate}}</label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="acompanhanteSexo" ng-model="acompanhante.Sexo" value="F" required>{{'Feminino' | translate}}</label>
                </div>
                <span class="material-icons form-control-feedback">clear</span>
            </div>

            <div class="form-group " ng-class="{'has-error': userForm.acompanhanteEmail.$invalid}">
                <label class="" for="acompanhanteEmail">
                    <span translate>Email</span> *</label>
                <input type="email" id="acompanhanteEmail" name="acompanhanteEmail" class="form-control" ng-model="acompanhante.Email" required>
                <span class="material-icons form-control-feedback">clear</span>
            </div>

            <div class="form-group " ng-class="{'has-error': userForm.acompanhanteCidadeEmbarque.$invalid}">
                <label class="" for="acompanhanteCidadeEmbarque">
                    <span translate>Cidade de embarque</span> *</label>
                <input type="text" id="acompanhanteCidadeEmbarque" name="acompanhanteCidadeEmbarque" class="form-control" ng-model="acompanhante.CidadeEmbarque" required>
                <span class="material-icons form-control-feedback">clear</span>
            </div>

            <div class="form-group " ng-class="{'has-error': userForm.acompanhanteTelefone.$invalid}">
                <label class="" for="acompanhanteTelefone">
                    <span translate>Telefone</span> *</label>
                <input type="tel" id="acompanhanteTelefone" name="acompanhanteTelefone" class="form-control" ng-model="acompanhante.Telefone"
                    maxlength="20" mask="+9?9?9?9?9?9?9?9?9?9?99999999" restrict="reject" required>
                <span class="material-icons form-control-feedback">clear</span>
            </div>
            <div class="form-group " ng-class="{'has-error': userForm.acompanhanteCelular.$invalid}">
                <label class="" for="acompanhanteCelular">
                    <span translate></span>Celular</label>
                <input type="tel" id="acompanhanteCelular" name="acompanhanteCelular" class="form-control" ng-model="acompanhante.Celular" mask="+9?9?9?9?9?9?9?9?9?9?99999999" restrict="reject" required>
                <span class="material-icons form-control-feedback">clear</span>
            </div>

            <div class="form-group " ng-class="{'has-error': userForm.acompanhanteEnderecoLogradouro.$invalid}">
                <label class="" for="acompanhanteEnderecoLogradouro">
                    <span translate>Rua</span> *</label>
                <input type="text" name="acompanhanteEnderecoLogradouro" id="acompanhanteEnderecoLogradouro" class="form-control" ng-model="acompanhante.Endereco.Logradouro" required>
                <span class="material-icons form-control-feedback">clear</span>
            </div>


            <div class="form-group " ng-class="{'has-error': userForm.acompanhanteEnderecoNumero.$invalid}">
                <label class="" for="acompanhanteEnderecoNumero">
                    <span translate>Número</span> *</label>
                <input type="text" name="acompanhanteEnderecoNumero" id="acompanhanteEnderecoNumero" class="form-control" ng-model="acompanhante.Endereco.Numero" required>
                <span class="material-icons form-control-feedback">clear</span>
            </div>

            <div class="form-group ">
                <label class="" for="acompanhanteEnderecoComplemento">
                    <span translate>Complemento</span></label>
                <input type="text" name="acompanhanteEnderecoComplemento" id="acompanhanteEnderecoComplemento" class="form-control" ng-model="acompanhante.Endereco.Complemento">
                <span class="material-icons form-control-feedback">clear</span>
            </div>

            <div class="form-group " ng-class="{'has-error': userForm.acompanhanteEnderecoBairro.$invalid}">
                <label class="" for="acompanhanteEnderecoBairro">
                    <span translate>Bairro</span> *</label>
                <input type="text" name="acompanhanteEnderecoBairro" id="acompanhanteEnderecoBairro" class="form-control" ng-model="acompanhante.Endereco.Bairro" required>
                <span class="material-icons form-control-feedback">clear</span>
            </div>

            <div class="form-group " ng-class="{'has-error': userForm.acompanhanteEnderecoCidade.$invalid}">
                <label class="" for="acompanhanteEnderecoCidade">
                    <span translate>Cidade</span> *</label>
                <input type="text" name="acompanhanteEnderecoCidade" id="acompanhanteEnderecoCidade" class="form-control" ng-model="acompanhante.Endereco.Cidade" required>
                <span class="material-icons form-control-feedback">clear</span>
            </div>

            <div class="form-group " ng-class="{'has-error': userForm.acompanhanteEnderecoUf.$invalid}" ng-if="currentLocaleDisplayName !== 'pt-BR'">
                <label class="" for="acompanhanteEnderecoUf">
                    <span translate>Estado</span> *</label>
                <input type="text" name="acompanhanteEnderecoUf" id="acompanhanteEnderecoUf" class="form-control" ng-model="acompanhante.Endereco.Uf" required>
                <span class="material-icons form-control-feedback">clear</span>
            </div>

            <div class="form-group" ng-class="{'has-error': userForm.acompanhanteEnderecoUf.$invalid}" ng-if="currentLocaleDisplayName === 'pt-BR'">
                <label for="acompanhanteEnderecoUf">
                    <span translate>Estado</span> *</label>
                <select class="form-control" name="acompanhanteEnderecoUf" id="acompanhanteEnderecoUf" ng-model="acompanhante.Endereco.Uf" ng-options="estado.valor as estado.texto for estado in estados" required>
                </select>
                <span class="material-icons form-control-feedback">clear</span>
            </div>

            <div class="form-group " ng-class="{'has-error': userForm.acompanhanteEnderecoPais.$invalid}">
                <label class="" for="acompanhanteEnderecoPais">
                    <span translate>País</span> *</label>
                <input type="text" name="acompanhanteEnderecoPais" id="acompanhanteEnderecoPais" class="form-control" ng-model="acompanhante.Endereco.Pais" required>
                <span class="material-icons form-control-feedback">clear</span>
            </div>

            <div class="form-group " ng-class="{'has-error': userForm.acompanhanteEnderecotipo.$invalid}">
                <label class="" for="acompanhanteEnderecotipo">
                    <span translate>Tipo de endereço</span> *</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="acompanhanteEnderecotipo" ng-model="acompanhante.Endereco.tipo" ng-value="0" required> {{'Comercial' | translate}}</label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="acompanhanteEnderecotipo" ng-model="acompanhante.Endereco.tipo" ng-value="1" required> {{'Residencial' | translate}}</label>

                </div>
                <span class="material-icons form-control-feedback">clear</span>
            </div>

            <div class="form-group " ng-class="{'has-error': userForm.acompanhanteCpf.$invalid}" ng-if="currentLocaleDisplayName === 'pt-BR'">
                <label class="" for="acompanhanteCpf">
                    <span translate>CPF</span> *</label>
                <input type="text" id="acompanhanteCpf" id="acompanhanteCpf" class="form-control" ng-model="acompanhante.Cpf" max="11" required>
                <span class="material-icons form-control-feedback">clear</span>
            </div>

            <div class="form-group " ng-class="{'has-error': userForm.acompanhanteRgNumero.$invalid}" ng-if="currentLocaleDisplayName === 'pt-BR'">
                <label class="" for="acompanhanteRgNumero">
                    <span translate>RG</span> *</label>
                <input type="text" name="acompanhanteRgNumero" id="acompanhanteRgNumero" class="form-control" ng-model="acompanhante.Rg.Numero" max="15" required>
                <span class="material-icons form-control-feedback">clear</span>
            </div>

            <div class="form-group" ng-class="{'has-error': userForm.acompanhanteRgEmissao.$invalid}" ng-if="currentLocaleDisplayName === 'pt-BR'">
                <label for="acompanhanteRgEmissao">
                    <span translate>Data de expedição do RG</span> *</label>
                <input type="text" name="acompanhanteRgEmissao" id="acompanhanteRgEmissao" placeholder="dd/mm/aaaa" class="form-control" ng-model="acompanhante.Rg.Emissao" mask='39/19/9999' required>
                <span class="material-icons form-control-feedback">clear</span>
            </div>

            <div class="form-group " ng-class="{'has-error': userForm.acompanhanteRgEmissor.$invalid}" ng-if="currentLocaleDisplayName === 'pt-BR'">
                <label class="" for="acompanhanteRgEmissor">
                    <span translate>Órgão emissor</span> *</label>
                <input type="text" name="acompanhanteRgEmissor" id="acompanhanteRgEmissor" class="form-control" ng-model="acompanhante.Rg.Emissor" max="20" required>
                <span class="material-icons form-control-feedback">clear</span>
            </div>

            <div class="form-group " ng-class="{'has-error': userForm.acompanhantePassaporteNumero.$invalid}">
                <label class="" for="acompanhantePassaporteNumero">
                    <span translate>Passaporte</span> *</label>
                <input type="text" name="acompanhantePassaporteNumero" id="acompanhantePassaporteNumero" class="form-control" ng-model="acompanhante.Passaporte.Numero" required>
                <span class="material-icons form-control-feedback">clear</span>
            </div>

            <div class="form-group" ng-class="{'has-error': userForm.acompanhantePassaporteEmissao.$invalid}">
                <label for="acompanhantePassaporteEmissao">
                    <span translate>Emissão do passaporte</span> *</label>
                <input type="text" name="acompanhantePassaporteEmissao" id="acompanhantePassaporteEmissao" placeholder="dd/mm/aaaa" class="form-control" ng-model="acompanhante.Passaporte.Emissao" mask='39/19/9999' required>
                <span class="material-icons form-control-feedback">clear</span>
            </div>

            <div class="form-group" ng-class="{'has-error': userForm.acompanhantePassaporteValidade.$invalid}">
                <label for="acompanhantePassaporteValidade">
                    <span translate>Validade do passaporte</span> *</label>
                <input type="text" name="acompanhantePassaporteValidade" id="acompanhantePassaporteValidade" placeholder="dd/mm/aaaa" class="form-control" ng-model="acompanhante.Passaporte.Validade" mask='39/19/9999' required>
                <span class="material-icons form-control-feedback">clear</span>
            </div>

            <div class="form-group" ng-class="{'has-error': userForm.acompanhanteNascimento.$invalid}">
                <label for="acompanhanteNascimento">
                    <span translate>Data de nascimento</span> *</label>
                <input type="text" name="acompanhanteNascimento" id="acompanhanteNascimento" placeholder="dd/mm/aaaa" class="form-control" ng-model="acompanhante.Nascimento" mask='39/19/9999' required>
                <span class="material-icons form-control-feedback">clear</span>
            </div>

            <div class="form-group" ng-class="{'has-error': userForm.acompanhanteNacionalidadePais.$invalid}">
                <label for="acompanhanteNacionalidadePais">
                    <span translate>Nacionalidade</span> *
                </label>
                <input type="text" name="acompanhanteNacionalidadePais" id="acompanhanteNacionalidadePais" class="form-control" ng-model="acompanhante.Nacionalidade.Pais" maxlength="50" required>
                <span class="material-icons form-control-feedback">clear</span>
            </div>

            <div class="form-group " ng-class="{'has-error': userForm.acompanhanteNacionalidadeCidade.$invalid}">
                <label class="" for="acompanhanteNacionalidadeCidade">
                    <span translate>Cidade de nascimento</span> *</label>
                <input type="text" name="acompanhanteNacionalidadeCidade" id="acompanhanteNacionalidadeCidade" class="form-control" ng-model="acompanhante.Nacionalidade.Cidade" required>
                <span class="material-icons form-control-feedback">clear</span>
            </div>

            <div class="form-group" ng-class="{'has-error': userForm.acompanhanteNacionalidadeEstadoCivil.$invalid}">
                <label for="acompanhanteNacionalidadeEstadoCivil">
                    <span translate>Estado civil</span>
                </label>
                <input type="text" name="acompanhanteNacionalidadeEstadoCivil" id="acompanhanteNacionalidadeEstadoCivil" class="form-control" ng-model="acompanhante.Nacionalidade.EstadoCivil" maxlength="50" required>
                <span class="material-icons form-control-feedback">clear</span>
            </div>

            <div class="form-group" ng-class="{'has-error': userForm.acompanhanteFumante.$invalid}">
                <label for="acompanhanteFumante">
                    <span translate>Fumante</span> *</label>
                <select class="form-control" name="acompanhanteFumante" id="acompanhanteFumante" ng-model="acompanhante.Fumante" required>
                    <option ng-value="false">
                        <span translate>Não</span>
                    </option>
                    <option ng-value="true">
                        <span translate>Sim</span>
                    </option>
                </select>
                <span class="material-icons form-control-feedback">clear</span>
            </div>

            <div class="form-group" ng-class="{'has-error': userForm.acompanhantePne.$invalid}">
                <label for="acompanhantePne">
                    <span translate>Portador de necessidades especiais</span>? *</label>
                <select class="form-control" id="acompanhantePne" ng-model="acompanhante.Pne" required>
                    <option ng-value="false">
                        <span translate>Não</span>
                    </option>
                    <option ng-value="true">
                        <span translate>Sim</span>
                    </option>
                </select>
                <span class="material-icons form-control-feedback">clear</span>
            </div>

            <div class="form-group " ng-class="{'has-error': userForm.acompanhanteAlergias.$invalid}">
                <label class="" for="acompanhanteAlergias">
                    <span translate>Alergias</span> *</label>
                <input type="text" name="acompanhanteAlergias" id="acompanhanteAlergias" class="form-control" ng-model="acompanhante.Alergias" required>
                <span class="material-icons form-control-feedback">clear</span>
            </div>

            <div class="form-group " ng-class="{'has-error': userForm.RestricoesAlimentares.$invalid}">
                <label class="" for="acompanhanteRestricoesAlimentares">
                    <span translate>Restrições alimentares</span> *</label>
                <input type="text" name="acompanhanteRestricoesAlimentares" id="acompanhanteRestricoesAlimentares" class="form-control" ng-model="acompanhante.RestricoesAlimentares" required>
                <span class="material-icons form-control-feedback">clear</span>
            </div>

            <div class="form-group ">
                <label class="" for="acompanhanteInformacoesMedicas">
                    <span translate>Informações médicas (em caso de gravidez indique aqui)</span>
                </label>
                <input type="text" name="acompanhanteInformacoesMedicas" id="acompanhanteInformacoesMedicas" class="form-control" ng-model="acompanhante.InformacoesMedicas">
                <span class="material-icons form-control-feedback">clear</span>
            </div>

            <div class="form-group"  ng-class="{'has-error': userForm.acompanhanteContatoEmergenciaNome.$invalid}">
                <label for="acompanhanteContatoEmergenciaNome">
                    <span translate>Nome do contato de emergência</span>
                </label>
                <input type="text" name="acompanhanteContatoEmergenciaNome" id="acompanhanteContatoEmergenciaNome" class="form-control"
                    ng-model="acompanhante.ContatoEmergencia.Nome" maxlength="50" required>
                    
                <span class="material-icons form-control-feedback">clear</span>
            </div>

            <div class="form-group" ng-class="{'has-error': (userForm.acompanhanteContatoEmergenciaTelefone.$invalid && userForm.acompanhanteContatoEmergenciaTelefone.$error)}">
                <label for="acompanhanteContatoEmergenciaTelefone">
                    <span translate>Telefone do contato de emergência</span>
                </label>
                <input type="tel" name="acompanhanteContatoEmergenciaTelefone" id="acompanhanteContatoEmergenciaTelefone" class="form-control" ng-model="acompanhante.ContatoEmergencia.Telefone" mask="+9?9?9?9?9?9?9?9?9?9?99999999"  required>
                
                <span class="material-icons form-control-feedback">clear</span>
            </div>

            <div class="form-group" ng-class="{'has-error': (userForm.acompanhanteContatoEmergenciaCelular.$invalid && userForm.acompanhanteContatoEmergenciaCelular.$error)}">
                <label for="acompanhanteContatoEmergenciaCelular">
                    <span translate>Celular do contato de emergência</span> *
                </label>
                <input type="tel" name="acompanhanteContatoEmergenciaCelular" id="acompanhanteContatoEmergenciaCelular" class="form-control"
                    ng-model="acompanhante.ContatoEmergencia.Celular" mask="+9?9?9?9?9?9?9?9?9?9?99999999"  required>
                    
                <span class="material-icons form-control-feedback">clear</span>
            </div>
        </div>

        <!-- SUBMIT BUTTON -->

        <button type="submit" class="btn btn-primary" ng-disabled="submitting && !userForm.$invalid" ng-show="(usuario.Status === 0) || (usuario.Status === '0')"><span translate></span>Enviar</button>

    </fieldset>

</form>
<br>

