<h3 translate>Upload de arquivos</h3>

<p translate>Após selecionar seus arquivos você deve definir de qual usuário é o arquivo referente selecionado (titular ou acompanhante)
    para seguirmos com o envio dos dados para inscrição</p>

<br>

<div ng-show="uploader.isHTML5">


    <!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
    <div nv-file-drop="" uploader="uploader" options="{ url: '/foo' }">
        <div nv-file-over="" uploader="uploader" over-class="nv-file-over" class="well my-drop-zone text-center">
            {{'Selecione/arraste seus arquivos aqui' | translate}}
        </div>
    </div>
</div>

<!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->

<p class="text-center">
    ou
    <br>
    <span class="btn btn-default btn-file text-center">
        {{'Selecione seus arquivos' | translate}}
        <input type="file" nv-file-select="" uploader="uploader" multiple />
    </span>
</p>

<br>

<form name="uploadForm" class="row" ng-show="uploader.queue.length > 0">
    <div class="col-xs-12 col-sm-4" ng-repeat="item in uploader.queue">
        <div class="thumbnail">
            <p style="overflow: hidden;  white-space: nowrap; text-overflow: ellipsis;">
                <strong>
                    <span class="" ng-show="item.isSuccess">
                        <i class="glyphicon glyphicon-ok"></i>
                    </span>
                    <span class="" ng-show="item.isCancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                    </span>
                    <span class="" ng-show="item.isError">
                        <i class="glyphicon glyphicon-remove"></i>
                    </span>
                    {{ item.file.name }}
                </strong>
                <br>
                <small class="text-muted">{{'Tamanho' | translate}}: {{ item.file.size/1024/1024|number:2 }} MB</small>
            </p>
            <!-- <td>
                <select ng-model="item.tipoArquivo" ng-options="tipo.id as tipo.name for tipo in tiposArquivo"></select>
            </td> -->
            <div class="form-group" ng-if="usuario.Wave > 0" ng-class="{'has-error': uploadForm.atribuicao.$invalid}">
                <label for="atribuicao">{{'Este arquivo é atribuido à quem?' | translate}} *</label>
                <select class="form-control" name="atribuicao" id="atribuicao" ng-model="item.insertAcompId" ng-options="referencia.insertAcompId as referencia.name for referencia in referenciaArquivo"
                    ng-change="alterandoReferenciaArquivo(item)" required restrict="reject"></select>

                <span class="material-icons form-control-feedback">clear</span>
            </div>
            <div class="progress" style="margin-bottom: 0;" ng-if="item.progress">
                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
            </div>
        </div>
    </div>
</form>

<div ng-show="uploader.queue.length > 0">
    <div>
        <p>Progresso geral</p>
        <div class="progress" style="">
            <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
        </div>
    </div>
    <div class="alert alert-danger" ng-if="!checaSeTemSasToken(uploader.queue) && (usuario.Wave > 0) " ng-hide="">
        <strong>{{'Atenção' | translate}}!</strong> {{'Você deve definir individualmente a referência de cada arquivo' | translate}}.
    </div>
    <button type="button" class="btn btn-primary btn-s" ng-click="submitForm()" ng-if="allUploadsComplete">
        <span class="glyphicon glyphicon-ok"></span> Finalizar cadastro
    </button>
    <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-if="!allUploadsComplete" ng-disabled="!checaSeTemSasToken(uploader.queue) ">
        <span class="glyphicon glyphicon-upload"></span> Upload
    </button>
    <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-if="!allUploadsComplete" ng-disabled="!uploader.isUploading">
        <span class="glyphicon glyphicon-ban-circle"></span> Cancelar todos
    </button>
    <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-if="!allUploadsComplete" ng-disabled="!uploader.queue.length">
        <span class="glyphicon glyphicon-trash"></span> Remove todos
    </button>
</div>